<div id="segment-detail-component">
  <div class="row m-0">

    <!-- Segment ID on the left-->
    <div class="col small-column p-0 align-self-center text-center">
      <p>{{selectedSegment.id}}</p>
      <!--<p>{{selectedSegment.sourceLanguage}} -> {{selectedSegment.targetLanguage}}</p>-->
    </div>

    <!-- Source text next to it-->
    <div class="col pr-0 pl-0 pt-1 pb-1">
      <div>
        <p class="large position-absolute" id="sourceView" (touchstart)="onSourceViewClick($event)" (mousedown)="onSourceViewClick($event)"></p>
      </div>
    </div>

    <!-- Buttons in th middle-->
    <div class="col small-column p-0 d-inline-block text-center align-self-center">
        <div class="d-inline-block text-center align-self-center">
          <p><button class="btn btn-md btn-primary" (touchstart)="onUndo(true, $event)" (mousedown)="onUndo(true, $event)" [disabled]="!this.undoRedoService.isUndoPossible()"><i class="fa fa-undo"></i></button></p>
          <p><button class="btn btn-md btn-primary" (touchstart)="onRedo(true, $event)" (mousedown)="onRedo(true, $event)" [disabled]="!this.undoRedoService.isRedoPossible()"><i class="fa fa-repeat"></i></button></p>
          <p><button class="btn btn-md btn-primary" (touchstart)="confirmSegmentFromButton($event)" (mousedown)="confirmSegmentFromButton($event)"><i class="fa fa-check"></i></button></p>
          <p><button *ngIf="enableTouchMode" class="btn btn-md btn-primary" id="deleteSelection" (touchstart)="deleteSelectionFromButton($event)" (mousedown)="deleteSelectionFromButton($event)" [disabled]="canDelete()"><i class="fa fa-trash"></i></button></p>
        </div>
    </div>

    <!-- Target view on the right, consisting of tabs-->
    <div class="col pr-0 pl-2 pt-1 pb-1">

      <div #combinedView id="combinedView">
        <!-- Tabs-->
        <ul class="nav nav-tabs" role="tablist" *ngIf="enableHandwriting">
          <li class="nav-item">
            <p id="mainView" class="nav-link active bold mb-0" [ngClass]="{'active': !handwritingMode}" (touchstart)="mainView($event)" (mousedown)="mainView($event)">
              <i class="fa fa-mouse-pointer mr-1"></i><i class="fa fa-keyboard-o mr-1"></i><i class="fa fa-microphone mr-1"></i><i class="fa fa-eye mr-1"></i>NORMAL
            </p>
          </li>
          <li class="nav-item">
            <p id="handwritingView" class="nav-link bold mb-0" [ngClass]="{'active': handwritingMode}"  (touchstart)="handwritingView($event)" (mousedown)="handwritingView($event)">
              <i class="fa fa-pencil mr-1"></i>HANDWRITING
            </p>
          </li>
        </ul>

        <!-- Handwriting view-->
        <div id='handwritingParentDiv' class="col-sm p-0" [hidden]="!handwritingMode">
          <div #handwritingDiv id="handwritingDiv" [hidden]="!handwritingMode"></div>
        </div>

        <!-- Main editing tab-->
        <div #mainParentDiv class="col-sm mt-0 pt-0 left" id="mainParentDiv" [hidden]="handwritingMode">
          <!-- Tool bar on top of main div-->
          <div id="mainDivTools">
            <!-- Speech Transcription -->
            <span *ngIf="enableSpeech"><i class="fa fa-microphone"></i>&nbsp;<span id="microphone">{{speechCommand}}</span></span>
            <!-- Speech Error Feedback-->
            <span id="warning" class="red ml-2"><i *ngIf="speechFeedback!=''" class="fa fa-warning"></i> {{speechFeedback}}</span>
          </div>

          <!-- Actual main editing view -->
          <div #mainDiv 
               id="mainDiv"
               class="large align-self-center d-inline-block mt-0 pt-0 mr-2" 
               contenteditable="true"
               placeholder="Enter text here..."
               (click)="selectTargetWord($event); positionOfPopUpMessage($event)" 
               (keyup)="mainDivInput($event); onKeyup($event)"
               (keydown)="onKeydown($event)"
               (drop)="onDrop($event)"
               (input)="onInput(); mainDivChange($event)"  
          >
          </div>
          <div *ngIf="enableIPE">
          <div #mainDiv id = "mainDiv"></div><!-- Div to tokenize current translation-->

          <div #mainDivLexicals id = "mainDivLexicals"></div><!-- this div is for lexicals -->

          <div #mainDivLCD id = "mainDivLCD"></div><!-- for hyp sentence 'mmpe-lcd' interface-->

          <div #mainDivDeepL id = "mainDivDeepL"></div><!-- This 'mainDivDeepL' is used to tokenize string for MMPE-DeepL visualization -->

          <div #mainDivHyp id = "mainDivHyp"></div><!-- Div to remove identical hypotheses -->
          
          <!--Div to display alternatives in MMPE-DeepL style -->
          <div class="cstm-popup-div2" *ngIf = 'displayDeepLPopUp && listOfAlternatives != null' [ngStyle] = "{'left': leftX2, 'top': topY2 }">
            <div class="cstm-inline cstm-deepl-heading">MMPE-DeepL</div>
             <div class="cstm-deepl-list-div">
              <ul class="cstm-deepl-ul">
                <li class="cstm-hover-popup2 cstm-deepl-li" *ngFor = "let alter of listOfHyp" (click) = "UpdateTargetText($event, alter.translation)">
                  <span [innerHTML]=alter.html></span>
                </li>
              </ul>
            </div> 
          </div> 
          
          <!--Div to display alternatives in MMPE-LMM style -->
          <div class="cstm-popup-div" *ngIf = 'displayLMMPopUp && listOfAlternatives != null' [ngStyle] = "{'top': topY }">
            <div class="cstm-ref-div">  
                <span *ngFor="let ref of popUP_ref" [innerHTML] = ref.outerHTML></span>
            </div>

            <!--Display lexical changes -->
            <div class="cstm-lexical-changes cstm-tool-tip" *ngIf = "alert_lexical">
              <span class="tooltiptext">Lexical Changes</span> 
              <ul class="cstm-minorChanges-ul">
                <li class="cstm-hover cstm-minor-changes-li" *ngFor = "let lexical of array2Forlexicals" (click) = "UpdateTargetText($event, lexical.translation)">
                 <div class="cstm-lexWords-div"> {{ lexical.lexWord }} </div>  
                 <div class="cstm-lexStar-spanDiv" [innerHTML]=lexical.html></div>
                </li>         
              </ul>
            </div> 

            <!--Display minor changes -->
            <div class="cstm-minor-changes-div cstm-tool-tip" *ngIf = "alert_minor">
              <span class="tooltiptext">Minor Changes</span>
              <ul class="cstm-minorChanges-ul">
                <li class="cstm-hover cstm-minor-changes-li" *ngFor = "let list1 of minorChanges" (click) = "UpdateTargetText($event, list1.translation)">
                  <span [innerHTML]=list1.html></span>
                  <div><span [innerHTML]=list1.html2></span></div>
                </li>         
              </ul>
            </div>
            
            <!--Display major changes -->
            <div class="cstm-major-changes-div cstm-tool-tip" *ngIf = "alert_major">
              <span class="tooltiptext">Major Changes</span>
              <ul class="cstm-majorChanges-ul">
                <li class="cstm-hover cstm-major-changes-li" *ngFor = "let list2 of majorChanges" (click) = "UpdateTargetText($event, list2.translation)">
                  <span [innerHTML]=list2.html></span>
                  <div><span [innerHTML]=list2.html3></span></div>      
                </li> 
              </ul>
            </div>
          </div> 

          <!--Div to display alternatives in MMPE-LCD style -->
          <div class="cstm-popup-div" *ngIf = 'displayLCDPopUp && listOfAlternatives != null' [ngStyle] = "{'top': topY }">
            <div class="cstm-ref-div"> 
              <span *ngFor="let ref of popUP_ref" [innerHTML] = ref.outerHTML></span>
            </div>
            <!-- Div to display lexical changes -->
            <div class="cstm-lexical-changes cstm-tool-tip" *ngIf = "alert_lexical2">
              <span class="tooltiptext">Lexical Changes</span>
              <ul class="cstm-minorChanges-ul">
                <li class="cstm-minor-changes-li" *ngFor = "let list of catg_lexical" (click) = "UpdateTargetText($event, list.fullTranslation)">
                   <span [innerHTML]=list.newTranslation></span>  
                  <div class="cstm-lexStar-spanDiv" [innerHTML]=list.htmlToDisplayScore></div>
                </li>
              </ul>
            </div>

            <!--Display consecutive changes -->
            <div class="cstm-minor-changes-div cstm-tool-tip" *ngIf = "alert_consecutive">
              <span class="tooltiptext">Consecutive Changes</span>
              <ul class="cstm-minorChanges-ul">
                <li class="cstm-hover cstm-minor-changes-li" *ngFor = "let list of catg_consecutive" (click) = "UpdateTargetText($event, list.newTranslation)">
                  <span [innerHTML]=list.html></span>
                  <div><span [innerHTML] = list.htmlToDisplayScore></span></div>
                </li>
              </ul>
            </div> 
            
            <!--Display distant changes -->
            <div class="cstm-major-changes-div cstm-tool-tip" *ngIf = "alert_distant">
              <span class="tooltiptext">Distant Changes</span>
              <ul class="cstm-majorChanges-ul">
                <li class="cstm-hover cstm-major-changes-li" *ngFor = "let list of catg_distant" (click) = "UpdateTargetText($event, list.newTranslation)">
                  <span [innerHTML] = list.html></span>
                  <div><span [innerHTML] = list.htmlToDisplayScore></span></div>
                </li> 
              </ul>
            </div>
          </div>
          </div><!-- end enableIPE 'div' -->          
        </div>
      </div>
     
    </div>
  </div>

</div>

