{
  "myScriptApplicationKey": "yourMyScriptApplicationKey",
  "myScriptHmacKey": "yourMyScriptHmacKey",
  "myScriptLanguage": "de_DE",
  "enableSpeech": true,
  "enableEyeTracking": true,
  "enableWhiteSpace": true,
  "enableSpellcheck": true,
  "enableTouchMode": true,
  "enableQualityEstimation":false,
  "enableHandwriting": true,
  "enableMidairGestures": true,
  "enableIPE": true,
  "speechLanguage": "de-DE",
  "speechModelCustomizationID": null
}
