{
  "myScriptApplicationKey": "yourMyScriptApplicationKey",
  "myScriptHmacKey": "yourMyScriptHmacKey",
  "myScriptLanguage": "de_DE",
  "email_IDs": ["some@email.com"],
  "passwords": ["somePassword"],
  "projects":[[1]],
  "enableSpeech": true,
  "enableEyeTracking": true,
  "enableWhiteSpace": true,
  "enableSpellcheck": true,
  "enableHandwriting": true,
  "enableMidairGestures": true,
  "speechLanguage": "de-DE",
  "speechModelCustomizationID": null
}
