{
  "ibmSpeech": {
    "username": "youremail@address.de",
    "password": "yourPassword",
    "iamApikey": "yourApiKey",
    "url": "https://stream-fra.watsonplatform.net/speech-to-text/api"
  },
   "loginCredentials": {
    "email_IDs": ["some@email.com"],
    "passwords": ["somePassword"]
  },
  "projectIDs": {
    "projects":[[1]]
  }
}
