{
  "ibmSpeech": {
    "username": "youremail@address.de",
    "password": "yourPassword",
    "iamApikey": "yourApiKey",
    "url": "https://api.eu-de.speech-to-text.watson.cloud.ibm.com"
  },
   "loginCredentials": {
    "email_IDs": ["some@email.com"],
    "passwords": ["somePassword"]
  },
  "projectIDs": {
    "projects":[[1]]
  }
}
